.App {
  text-align: center;
  width: 620px;
  margin: 2% auto;
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
  width: 100%;
  margin: 0;
  padding: 0;
}
