.App {
    text-align: center;
    width: 500px;
    margin: 3% auto;
}

.TileGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 3px;
    border: 1px solid black;
    width: 100%;
    margin-top: 5%;
    padding: 2px;
}
