.Tile {
    /*width: 120px;*/
    height: 120px;
    background-color: var(--cover-color);

    cursor: pointer;
}

.Tile-green {
    background-color: var(--green);
}

.Tile-blue {
    background-color: var(--blue);
}

.Tile-yellow {
    background-color: var(--yellow);
}

.Tile-pink {
    background-color: var(--pink);
}