:root {
  --cover-color: rgb(255, 92, 49);
  --green: rgb(26, 201, 159);
  --blue: rgb(3, 169, 244);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

ul {
  list-style: none;
}
